@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


body {
    font-family: 'Poppins',sans-serif;
    overflow-x: hidden;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); /*cambiare i colori. In like.css lascio quella vecchia per confronto*/
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    margin: 0px;    /* si creano 8 px a cazzo di cane */
}

@keyframes gradient {
    0% {background-position: 0% 50%; }
    50% {background-position: 100% 50%; }
    100% {background-position: 0% 50%;}
}

.main {
    width: 80%;
    max-width: 800px;
    margin: 5% auto;
    padding: 20px;
}

address a:hover {
    text-decoration: none;
    color: #010f5384 ;
}

.ig-icon{
    width: 50px;
}
.h2 {
    font-size: clamp(1.2rem, 2vw, 3.3rem);  /*copiato da h2*/
}

/* form */

.form-header{
    text-align: center;
}

.form-header header{
    color: #333;
    font-size: clamp(2rem, 2.3vw, 3.3rem); ;
    font-weight: 600;
}

.form-header p{
    color: #333;
    font-size: clamp(2rem, 1.8vw, 3.3rem); ;
    font-weight: 400;
}

input[type=text], textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 30px;
    resize: vertical;
    transition-duration: 0.3s;
}

input[type=submit] {
    /* margin-left: 20%; */
    
    width: 40%;
}
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: clamp(1rem, 1vw, 2rem);
}


.form {
    margin-left: 20%;
    margin-right: 20%;
    /* width: 60%; */
    border-radius: 30px;
    background-color: #f2f2f270;
    padding: 20px;
    box-sizing: border-box;
}
  
.col-25 {
    float: left;
    width: 20%;
    margin-top: 6px;
}
  
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.submit-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
  
.row::after {
    content: "";
    display: table;
    clear: both;
}

#uno,#due,#tre,#quattro,#cinque{
    background: #7a7a7a;
    width: 40px;
    height: 40px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);  
}

.horizontalflex{
    display: flex;
    justify-content: center;
    gap:5%;
    margin-bottom: 2%;

}

.verticalflex{
    display: flex;
    flex-direction: column;
}

#support{
    display: none;
}

@media (max-width: 1000px) {
    .form {
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media (max-width: 768px) {




    .ig-icon{
        width: 30px;
    }

    .main {
        width: 90%; 
    }

    .col-25, .col-75 {
        width: 100%;
        margin-top: 0;
    }

    input[type=text] {
        width: 90%;
    }

    textarea{
        width: 90%;
    }
}
