@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


body {
    font-family: 'Poppins',sans-serif;
    overflow-x: hidden;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    margin-right: -1px; 
    margin-left: 0;

}

@keyframes gradient {
    0% {background-position: 0% 50%; }
    50% {background-position: 100% 50%; }
    100% {background-position: 0% 50%;}
}

.main {
    width: 80%;
    max-width: 800px;
    margin: 5% auto;
    padding: 20px;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;  
    background-color: #74b785a4;
    padding: 3%;
}

.ourpic {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.pietro img, .gio img {
  max-width: 100%;
  height: auto;
}

.ourpic p {
    font-size: clamp(1.2rem, 1.6vw, 3.3rem); 
    font-weight: 600;
}

.pietro, .gio {
    background-color: #7a7a7a81;
    border-radius: 10%;
    padding: 2%;
    transition-duration: 0.4s;
}

.ourpic img {
    width: 400px;
    border-radius: 10%;
}

.pietro:hover, .gio:hover  {
    scale: 1.1;
}

.h3 a {
    color: #000;
}

a:hover {
    color: #5a5a5a;
}

.h3 {
    font-size: clamp(1.2rem, 1.5vw, 3.3rem);  
}

address a:hover {
    text-decoration: none;
    color: #010f5384 ;
}

#top {
    display: none;
    position: fixed; 
    bottom: 5%; 
    right: 5%; 
    z-index: 99; 
    cursor: pointer;
    font-size: 150%;
    font-weight: bolder;
}


.ig-icon{
    width: 50px;
}
.h2 {
    font-size: clamp(1.2rem, 2vw, 3.3rem); 
}

.form-header{
    text-align: center;
}

.form-header header{
    color: #333;
    font-size: clamp(2rem, 2.3vw, 3.3rem); ;
    font-weight: 600;
}

.form-header p{
    color: #333;
    font-size: clamp(2rem, 1.8vw, 3.3rem); ;
    font-weight: 400;
}

input[type=text], textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 30px;
    resize: vertical;
    transition-duration: 0.3s;
}

input[type=submit] {
    width: 40%;
}
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: clamp(1rem, 1vw, 2rem);
}


.form {
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 30px;
    background-color: #f2f2f270;
    padding: 20px;
    box-sizing: border-box;
}
  
.l {
    float: left;
    width: 20%;
    margin-top: 6px;
}
  
.t {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.submit-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
  
.row::after {
    content: "";
    display: table;
    clear: both;
}

#uno,#due,#tre,#quattro,#cinque{
    background: #7a7a7a;
    width: 40px;
    height: 40px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);  
    transition: 0.4s;
}

.horizontalflex{
    display: flex;
    justify-content: center;
    gap:5%;
    margin-bottom: 2%;
}

.verticalflex{
    display: flex;
    flex-direction: column;
}

#support{
    display: none;
}

#submitbtn:disabled{
    background-color: grey;
    cursor: not-allowed;
}

.no-hover{
    pointer-events: none;
}

@media (max-width: 1000px) {
    .form {
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media (max-width: 768px) {

    .ourpic {
        gap: 10%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .ourpic img{
        width: 200px;

    }


    .ig-icon{
        width: 30px;
    }

    .main {
        width: 90%; 
    }

    .l, .t {
        width: 100%;
        margin-top: 0;
    }

    input[type=text] {
        width: 90%;
    }

    textarea{
        width: 90%;
    }
}
