@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 2% 0% 3%;
    margin-left: 10%;
    margin-right: 10%;
}

.link {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;

}
.link:hover{
    color: #000;
}

.ns {
    scale: 1.15;
}

.pulsante, .pulsante2, .pulsante3, .pulsante4, .pulsante5, .pulsanteClose{
    background-color: #efff14f1;
    border-radius: 20px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 #00000033, 0 6px 20px 0 #00000030;
    font-size: clamp(0.6rem, 1.3vw, 2rem);
    padding: 10px 15px;
    float: left;
    font-weight: bold ;
    border: none;
    outline: none;
    color:#000;
    text-decoration: none;
    min-width: 70px;
    cursor: pointer;
}

.pulsanteClose {
    color: #ffffff;
    height: 40px;
    border-radius: 10px;
    padding: 0%;
    font-size: clamp(0.9rem, 0.9vw, 2rem);
    background-color: #5e5e5e;
    font-weight: 500;
}

.pulsante5 {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    padding: 0%;
    font-size: clamp(0.9rem, 0.95vw, 2rem);
}


.grande, .pulsante4 {
    font-size: clamp(1rem, 1.3vw, 2rem);
}



.pulsante:hover, .pulsante2:hover, .pulsante3:hover, .pulsante4:hover, .pulsante5:hover{
    background: #efff146f;
    border-radius: 15px;
    text-decoration: none;
    color:#6b6b6b;
}

.pulsanteClose:hover {
    background: #9494946f;
    border-radius: 12px;
    text-decoration: none;
    color:#313131;
}

button:hover{
    scale: 1.1;
}


*:focus, *:active {
    outline: none;
}

@media (max-width: 1050px) {
    .ns {
        scale: 1.3;
    }
}

@media (max-width: 750px) {
    header {
        margin: 30px -2% 30px;
        margin-left: 6%;
        margin-right: 6%;
    }

    .ns {
        scale: 1.2;
    }

    .hh  {
        scale: 1.2;
    }
    
}

@media (max-width: 500px) {
    .hh  {
        scale: 1;
    }

    .ns {
        scale: 1.25;
    }

    header {
        margin-left: 3%;
        margin-right: 3%;
    }
    
}

@media (min-width: 750px) and (max-width: 960px) {
    .hh  {
        scale: 1.5;
    }

    header {
        margin: 40px 1% 50px;

    }
}