nav  ul{
    padding: 0;
    width: 100%;
    margin-left: 0%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}
nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 35px;
}
nav .link {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    
}
nav .link:hover{
    color: #000;
}


.pulsante {
    background-color: #efff14f1;
    border-radius: 8px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 20px;
    padding: 10px 15px;
    float: left;
    font-family: var(--bs-body-font-family);
    font-weight: bold ;
    border: none;
    color:#000;
    text-decoration: none;
}
.pulsante:hover{
    background: #efff146f;
    border-radius: 15px;
    text-decoration: none;
    color:#444;
}

header {
    padding: 0%;
    margin-left: 10px;
    margin-top: 10px;
}