@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 2% 0% 3%; /*con il secondo numero decido quanto avvicinare o allontanare i vari bottoni*/
}


.link {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;

}
.link:hover{
    color: #000;
}


.pulsante, .pulsante2, .pulsante3, .pulsante4{
    background-color: #efff14f1;
    border-radius: 20px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 #00000033, 0 6px 20px 0 #00000030;
    font-size: clamp(0.5rem, 1.3vw, 2rem);
    padding: 10px 15px;
    float: left;
    font-weight: bold ;
    border: none;
    color:#000;
    text-decoration: none;
    min-width: 70px;
    cursor: pointer;
}


.pulsante:hover, .pulsante2:hover, .pulsante3:hover, .pulsante4:hover{
    background: #efff146f;
    border-radius: 15px;
    text-decoration: none;
    color:#444;
}

button:hover{
    scale: 1.1;
}

@media (max-width: 750px) {
    header {
        margin: 30px 0% 30px; /*con il secondo numero decido quanto avvicinare o allontanare i vari bottoni*/
    }
    
}