.sup{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#top{
    position: relative;
    left: 33%;
    /* bottom: 10%; */
    padding: 2%;
}

.center{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.scorrimento{
    display: flex;
    justify-content: space-around; /*come si diminuisce la distanza?*/
    padding:2%;
}

.foru{
    display: grid;
    
}