@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    background-color: #929292;
}

.sup{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 10%;
}

p {
    font-size: clamp(10px ,30px, 20px);
    font-family: 'Poppins',sans-serif;
    display: flex;
    justify-content: center;
}

.h {
    font-size: clamp(20px ,35px, 40px);
    margin-bottom: 3%;
}

#top{
    max-width: 100%; 
    height: auto; 
}

.center{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 0;
}

.scorrimento{
    display: flex;
    justify-content: center; 
    align-items: center;
    scale: 0.5;

}

.minor {
    max-height: 500px;
    height: auto; 
    margin: 0 10%; 
}

.foru {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    justify-content: center;
  }
  
.foru img {
    width: 100%;
    height: auto; 
    max-width: 100%; 
  }
