@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('/static/images/cloud.jpg');
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
}

/*plane animation*/
#plane {
    z-index: 0;
    position: absolute;
    top: -200px;
    left: -210px;
    height: 100%;
    width: 100%;
    background-image: url('/static/images/plane.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    position: relative;    
}

@keyframes planeAnim {
  0%   {left:-100px; top: 600px; width: 100px; height: 60px; transform: rotate(15deg);}
  25% {transform: rotate(0deg)}
  100% {left: 1700px; top: -100px;; width: 600px; height: 400px; transform: rotate(40deg);}
}


.password_block{
    background: #efff14;
    border-radius: 20px;
    text-align: center;
    font-size: 10px;

    /*width: 10px;*/

    border: none;
    outline: none;
}


.failure{
    background: #efff14;
    border-radius: 30px;
    font-size: 17px;
    text-align: center;
    border: none;
    outline: none;
    color: #000;
    font-weight: 500;
}

.failure a{
    color: #000;
    font-weight: 600;
}


.failure a:hover{
    text-decoration: none;
    color: #0000007a;
}
.login-box{
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: 60%;
    padding: 2.5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffffa9;
    border-radius: 20%;

}


.login-header{
    text-align: center;
    margin: 0 0 10% 0;
}

.login-header header{
    color: #333;
    font-size: 30px;
    font-weight: 600;
}

.input-box .input-field{
    align-items: center;
    width: 90%;
    height: 60px; /*CAMBIAREEEE-------------------------------------*/
    font-size: 17px;
    padding: 0 5%;
    margin-bottom: 5%;
    border-radius: 30px;
    border: none;
    outline: none;
    box-shadow: 0px 5px 10px 1px #0000003c;
    transition: .3s;
}

.small{
    position: relative;
    margin-top: 2%;
    margin: 5% auto; 
    display: flex;
    justify-content: space-between;
    margin-bottom:  5%;
}

.small a{
    color: #000;
    font-weight: 500;
}


.small a:hover{
    text-decoration: none;
    color: #0000007a;
}

.forget{
    text-decoration: underline;
}

.forget:hover{
    text-decoration: none;
}

/*non so a cosa cazzo servono */
section{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}

section a{
    color: #555;
}

.input-submit{
    position: relative;
}

.submit-btn{
    width: 100%;
    height: 250%;/*CAMBIAREEEE-------------------------------------*/
    background: #efff14;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

.input-submit label{
    font-weight: 600;
    position: absolute;
    top: 120%;
    left: 50%;
    color: #000;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}


.sign-up-link{
    text-align: center;
    font-size: 15px;
    margin-top: 10%;
}

.sign-up-link a{
    color: #000;
    font-weight: 600;
}


.sign-up-link a:hover{
    text-decoration: none;
    color: #0000007a;
}

.submit-btn:hover{
    background: #efff146f;
    transform: scale(1.05,1);
    
}


.input-field:hover{
    transform: scale(1.05,1);
}