.foru2{
    /* height: 28rem;
    width: 25rem; */
    height: 30%;
    width: 30%;
    /* background-color: #1b1f2a; */
    /* border: .2rem solid rgba(255,255,255,.1); */
    border-radius: 5%;
    overflow: hidden;
    /* padding: .2rem; */
}

.foru2 img{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5%;
    
    /* border-bottom-left-radius: .6rem;
    border-bottom-right-radius: .6rem; */
}
