.foru2{
    height: 30%;
    width: 30%;
    border-radius: 5%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 16px 0 #00000033, 0 6px 20px 0 #00000030;
}

.foru2 img{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5%;
}

.overlay-text-stuff{
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */
    /* width: 100%; */
    /* height: 60%; */
    /* justify-content: space-between; */


    position: absolute;
    opacity: 0;
    transition: opacity .5s ease;   
    z-index: 3;
    color: white;
    border-radius: 20%;
    transform: translateY(50px);
    filter: blur(20px);
    

    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.5); 
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20%;
    


    font-family: 'Poppins',sans-serif;
    font-size: clamp(0.5rem, 3vw, 4rem);
    font-weight: 500;

}

/**per usare i bottoni usa questo 


.overlay-text-stuff{
    display: flex; 
    align-items: center; 
    width: 100%; 
    height: 60%; 

    position: absolute;
    justify-content: space-between;
    opacity: 0;
    transition: opacity .5s ease;   
    z-index: 3;
    color: white;
    border-radius: 20%;
    transform: translateY(50px);
    filter: blur(20px);


    leva queste
    /* box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.5); 
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20%;
    font-family: 'Poppins',sans-serif;
    font-size: clamp(0.5rem, 5vw, 4rem);
    font-weight: 500;
    text-align: center; 
    //

}


*/


/* accedo alla slide principale */

/* .swiper-slide-active:hover{
    scale:1.03; non se mette la transition
} */

.swiper-slide-active:hover .overlay-text-stuff{
    animation: MostraBottoni .3s .2s linear 1 forwards; 
}

@keyframes MostraBottoni{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.swiperCubic{
    width: 50%;
    height: 50%;
}

.cubic img {
    /* object-fit: contain; */
    width: 100%;
    height: 100%;
}

.blurcube img{
    filter: blur(8px);
}

.blurcube .textcontainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
}

#map{
    height: auto;
    /* width: 100%; */
    /* border-radius: 20%; da vedere, problemi con i bottoni dello zoom (e quindi con tutta
    la roba del responsive)s */
}

#map2{
    height: auto;
}

#map3{
    height: auto;
}