
.foto {
    display: block;
    max-width: 60%;
    border-radius: 10%;
    max-height: 700px;  /*QUA O MEDIAQUERY PER ADATTARE OPPURE SI LASCIA COSI PERO PROVARE SE VA BENE SUI VARI DISPOSITIVI - per esempio sul fisso mio sarebbe meglio piu grande*/
    z-index: 0;
    animation: widener linear both;
    animation-timeline: view();
    background-clip: text;  /*FORSE INUTILE*/
    -webkit-background-clip: text;  /*FORSE INUTILE*/
}

@keyframes widener {
    0% {max-width: 20%; border-radius: 1%;}
    50% {max-width: 60%; border-radius: 10%;}
}


.cuore {
    width: 1%;
}

.png{
    visibility: hidden;
    z-index: 1;
    top: 50%;
    margin-left: -2000%;  /*REGOLARE PER CENTRARE IL CUORE - anche questo va adattato in qualche modo alle varie foto*/
    opacity: 0.8;

}

.bookmark{
    visibility: hidden;
    z-index: 1;
    top: 50%;
    margin-left: -2500%;  /*REGOLARE PER CENTRARE IL CUORE*/
    opacity: 0.8;
}

body {
    background-image: url(https://cdn.mos.cms.futurecdn.net/oB6gwMbLBDyS35SVrUnTRb.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}


.images{
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    animation: scroll linear both;
    animation-timeline: view();
    background-clip: text;  /*FORSE INUTILE*/
    -webkit-background-clip: text;  /*FORSE INUTILE*/

}

@keyframes scroll {
    0% {opacity: 0;}
    50% {opacity: 1;}
}

.pulsantiera {
    width: 10%;
}

.like {
    width: 30%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}