.foto {
    display: block;
    max-width: 50%;
    border-radius: 10%;
    max-height: 50%;
    z-index: 0;
}

.cuore{
    visibility: hidden;
    z-index: 1;
    
    top: 0;
    left: 0;
}

body {
    background-color: #676767;
}

.images{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 5%;
}

.pulsantiera {
    width: 10%;
}

.like {
    width: 30%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}