@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.light {
      overflow-x: hidden;
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); 
      background-size: contain;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-size: 400% 400%;
      animation: gradient 8s ease infinite;
}
  
@keyframes gradient {
      0% {background-position: 0% 50%; }
      50% {background-position: 100% 50%; }
      100% {background-position: 0% 50%;}
}



img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 80vh;
}

.foto{
    box-shadow: 0 8px 16px 0 #0000001c, 0 6px 20px 0 #00000021;
    border-radius: 10%;
    background-clip: text;
    -webkit-background-clip: text;
    z-index: 3;
    transition-duration: 0.4s;
}

.mycontainer:hover{
    transform: scale(1.03);
}

.mycontainer:hover .foto {
    box-shadow: 0 8px 16px 0 #00000065, 0 6px 20px 0 #0000007c;
}


.mycontainer:hover .overlay-text {
    animation: showContent .3s .2s linear 1 forwards; 
    
}

@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.overlay-text {
    font-family: 'Poppins',sans-serif;
    font-size: clamp(4rem, 5vw, 4rem);
    font-weight: 500;
    opacity: 0;
    transition: opacity .5s ease;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    position: absolute;
    z-index: 3;
    padding: 1.5;
    border-radius: 25%;
    box-shadow: 1px 1px 20px 20px rgba(0, 0, 0, 0.6); 
    transform: translateY(50px);
    filter: blur(10px);
}
 

.mycontainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 50%;
    height: 50%;
    transition: transform 0.5s;
    align-items: center;
}

.topcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    left:10%;
}

.images{
    width:100%;
    height:60%;
    margin-bottom: 5%;
    animation: scroll linear both;
    animation-timeline: view();
    background-clip: text;
    -webkit-background-clip: text;

}

@keyframes scroll {
    0% {opacity: 0; width: 0%; pointer-events: none;}
    38% {opacity: 1; width: 100%; }
    45% {pointer-events: all;}
}

.h2 {
    margin-top: 10%;
    margin-bottom: 0%;
    font-size: clamp(1.4rem, 2vw, 3.3rem); 
    text-align: center;
}

.pulsantiera {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    transition-duration: 0.3s;
    animation: pulsanti linear both;
    animation-timeline: view();
    background-clip: text;
    -webkit-background-clip: text;
} 

@keyframes pulsanti {
    0% {scale: 0.3;}
    27% {scale: 1;}
}

.like {
    width: 30%;
    border-radius: 20%;
    margin: 5%;
}

.descrizione {
    font-family: 'Poppins',sans-serif;
    display: none;
    color: #ffffff;    
    z-index: 10;
    font-size: 150%;
    margin-left: -300%;
    max-width: 80%;
}

#top {
    display: none;
    position: fixed; 
    bottom: 5%; 
    right: 5%; 
    z-index: 99; 
    cursor: pointer;
    font-size: 150%;
    font-weight: bolder;
}

#night {
    
    position: fixed; 
    bottom: 13%; 
    right: 5%; 
    z-index: 99; 
    cursor: pointer;
    font-size: 150%;
    font-weight: bolder;
}



.popover__wrapper {
    position: relative;
    margin-top: 1.5rem;
    display: inline-block;
}

.popover__content_like {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -20%;
    top: -140%;
    transform: translate(0, 10px);
    background-color: #0000005d;
    padding: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: 150%;
    border-radius: 10%;
    color:#ffffff
}

.popover__wrapper:hover .popover__content_like {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20%);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.popover__content_like p, .popover__content_save p{
    margin-top: 10%;
    margin-bottom: 10%;

}

.popover__content_save {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -20%;
    top: 100%;
    transform: translate(0, 10px);
    background-color: #0000005d;
    padding: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: 150%;
    border-radius: 10%;
    color:#ffffff
}

.popover__wrapper:hover .popover__content_save {
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    transform: translate(0, 20%);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.popover__message {
    text-align: center;
}

button:focus, button:active {
    outline: none;
}

.comments {
    display: flex;
    flex-direction: column;
  }

  .mycomment {
    display: flex;
    flex-direction: row;
  }

  .comment {
    margin-bottom: 10px;
  }

  .comment .author {
    font-weight: bold;
  }

  .comment .text {
    margin-left: 15px;
  }

  .modal-dialog {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .modal-body {
    height: 60vh;
    overflow-y: auto;
    background-color: #55555537;
  }


.modal-content {
    border-radius: 20px; 
}


@media (max-width: 1200px) {
    .foto{
        height: 800px;
        width: 500px;
    }
}

@media (min-width: 961px) and (max-width: 1400px) {
    .popover__content_like {
        top: -150%;
    }
}

@media (max-width: 960px) {

    .overlay-text {
        font-size: clamp(3.3rem, 5vw, 4rem);
    }
    

    .foto{
        height: 700px;
        width: 500px;
    }

    .topcontainer{
        flex-direction: column;
    }

    .pulsantiera{
        margin-top: 3%;
        margin-bottom: 5%;
        flex-direction: row;
        justify-content: center;
        width: 40%;
        flex-wrap: nowrap;
    }

    @keyframes pulsanti {
        0% {scale: 0.3;}
        2% {scale: 1;}
    }

    .like {
        margin: 2%;
        height: 50px;       
    }

    .left{
        margin-right: 10%;
    }

    .popover__content_save{
        top: -50%;
        left: 130%;
    }

    .popover__content_like {
        top: -0%;
        left: -180%;
    }


}

@media (max-width: 750px) {

    .overlay-text {
        font-size: clamp(1.8rem, 5vw, 4rem);
    }

    @keyframes pulsanti {
        0% {scale: 0.3;}
        5% {scale: 1;}
    }

    .foto{
        height: 400px;
        width: 450px;
    }

    .modal-content {
        margin-left: 5%; 
        margin-right: 5%; 
    }

    .topcontainer{
        flex-direction: column;
    }

    .pulsantiera{
        margin-top: 3%;
        margin-bottom: 5%;
        flex-direction: row;
        justify-content: center;
        width: 80%;
    }

    .like {
        margin: 2%;
        height: 50px;       
    }

    .left{
        margin-right: 10%;
    }

    .popover__content_save{
        top: -50%;
        left: 120%;
        scale: 0.9;
    }

    .popover__content_like {
        top: -0%;
        left: -170%;
        scale: 0.9;
    }

}

@media (max-width: 500px) {
    .foto{
        width: 350px;
    }
}