.swiper {
    width: 50%;
    /* height: 500px; */
    height: 50%;
        
    background: #000;
}



.swiper-slide {
    
    font-size: 18px;
    color: #fff;

    /*tutti valori di documentazione*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}