html, body{
    height: 100%;
}

.swiperReview {
    width: 50%;
    height: 48%;
}

.swiper-slide {
    background-color: #f2f2f270; /*volevo cambiare solo lo slider delle recensioni, non so se cambia altro*/
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    }



.virgolette {
    width: 20%;
    height: 20%;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 1%;
    background-image: url('/static/images/virgolette.png');
    background-size: contain; 
    background-repeat: no-repeat;
}

.testorecensione{
    font-size: clamp(1.4rem, 2vw, 3.3rem);  /*copiato da h2*/
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.nomeautore{
    font-size: clamp(1.1rem, 1.5vw, 3rem);  /*copiato da h3*/
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    display: flex;
}

.stelle{
    display: flex;
    justify-content: center;
    /* margin-bottom: 2%; */
}

#s1, #s2, #s3,#s4,#s5{
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);  
    background: #efff14f1;
    width: 40px;
    height: 40px;
    /*aggiungi un ombra*/
}

@media (max-width: 1300px) {
    .swiperReview {
        width: 60%;
        height: 40%;
    }

}



@media (max-width: 1050px) {
    .swiperReview {
        width: 60%;
        height: 35%;
    }

}

@media (max-width: 760px) {
    .swiperReview {
        width: 70%;
        height: 30%;
    }

}