{% extends 'header.html' %}
{% block contenttop %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TravelHub - AboutUs</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='aboutus.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='header.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>TravelHub - About Us</title>

    </head>
<body>
{% endblock %}
{% block contentdown %}

    {% if feed %}
      <div class="form-header">
        <p>Thank you, we have forwarded your feedback to our team ❤️</p>
      </div>
    {% endif %}
    <div class="main">   
        <p>Welcome to TravelHub, your ultimate destination for exploring breathtaking tourist spots around the globe! Founded by a team of passionate travelers and tech enthusiasts, TravelHub aims to revolutionize the way you plan and experience your next adventure.

            Led by Professor Marconi, and developed as part of the LTW course at Sapienza University, TravelHub embodies innovation, creativity, and a deep understanding of the modern traveler's needs.
            
            Whether you're seeking inspiration for your next getaway or looking to curate a personalized gallery of your favorite travel memories, our platform offers a seamless and intuitive experience.
            
            Join our vibrant community of fellow explorers, discover hidden gems, and contribute to our ever-growing collection of stunning photographs from every corner of the globe.
            
            Embark on this journey with TravelHub, where every click brings you one step closer to your next unforgettable adventure.
        </p>
    </div>

    <div class="form" >

      <div class="form-header">
        <header>Feedback Form</header>
      </div>
      <form method="post">
        <div class="row">
          <div class="col-25">
            <label for="fname">Name:</label>
          </div>
          <div class="col-75">
            <input class="input" type="text" id="fname" name="name" placeholder="Your name" required>
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="subject">What's your opinion?</label>
          </div>
          <div class="col-75">
            <textarea class="text" id="subject" name="subject" placeholder="Write your feedback.." style="height:200px; width: 80%;" required></textarea>
          </div>
        </div>
        <br>
        
        <div class = "verticalflex">
          <div class = "horizontalflex">
            <!--div delle stelle-->
            <div id = "uno">
            </div>
            <div id = "due">
            </div>
            <div id = "tre">
            </div>
            <div id = "quattro">
            </div>
            <div id = "cinque">
            </div>

          </div>
          
          <p id = "texthere">Hover on a star to rate our site!</p>

          <!-- this is necessary to send data to the server -->
          <div class = "reqtosend" id ="support">
            <input type="text" id = "sendmedata" name = "sendmedata">
          </div>
        </div>

        <div class="row">
          <input class="pulsante4" id="submitbtn" type="submit" value="Submit">
        </div>
      </form>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <footer class="footer">
          {% if not session %}
          <div class = "redirecturi">
            <a class = "redirectanchor" href="/home">Home</a>
            <a class = "redirectanchor" href="/login">Login</a>
            <a class = "redirectanchor" href="/register">Register</a>
          </div>
          {% else %}
          <div class = "redirecturi">
            <a class = "redirectanchor" href="/home">Home</a>
            <a class = "redirectanchor" href="/like">Like</a>
            <a class = "redirectanchor" href="/save">Save</a>
          </div>
          {% endif %}

          <div class = "secondflexbox">
            <p style="margin-left: 10px;">Made by <a class = "redirectanchor" href="mailto:travelhub@outlook.it">TravelHub's Team</a></p>

            <div class="icon">
                    <a href="https://www.instagram.com/pietrob__/" target="_blank"><img class="ig-icon" src="/static/images/insta.png"></a>
                    <a href="https://www.instagram.com/giovanniicanedoli/" target="_blank"><img class="ig-icon" src="/static/images/insta.png"></a>
            </div>
        
            <small>©2024 All rights are reserved.</small>
          </div>
    </footer>
</body>

<script type = "text/javascript" src = "{{url_for('static', filename='functions.js')}}"></script>
</html>
{% endblock %}