{% extends 'header.html' %}
{% block contenttop %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TravelHub - AboutUs</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='aboutus.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='header.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='footer.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='swipereview.css')}}">

        <!-- che è sto coso? -->
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
        

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

        <title>TravelHub - About Us</title>

    </head>
<body>
{% endblock %}
{% block contentdown %}

    {% if feed %}
      <div class="form-header">
        <p>Thank you, we have forwarded your feedback to our team ❤️</p>
      </div>
    {% endif %}
    <br><br>
    <div class="presentation">
      <br>
      <div class="ourpic">
        <div class="pietro">
          <img src="https://avatars.githubusercontent.com/u/82363996?v=4">
          <p >Pietro</p>
        </div>
        <div class="gio">
          <img src="https://avatars.githubusercontent.com/u/90329991?v=4">
          <p >Giovanni</p>
        </div>
      </div>
      <p class="h3">This website is the result of the work of <a href="https://github.com/Pietrob5" target="_blank">Pietro</a> and <a href="https://github.com/giovannicanedoli" target="_blank">Giovanni</a>, students at Sapienza University of Rome. This project aims to introduce users to new destinations and travel opportunities for their upcoming trips.</p>
    </div>
    <br><br><br>
    <!-- <div class = "newsletter">
      <div class = "letterimg">
        
      </div>
      <div class = "newslettertext">
        Submit to our newsletter to recv information about fantastic travels and more!
      </div>

      <div class = "insertdata">
        <input id = "testo" type="text" placeholder="Email">
        
        <input class = "pulsante4" type="submit" value="Submit">
      </div>
    </div>
    
    <p>We would like a review!</p> -->

    <div class="form">

      <div class="form-header">
        <header>Feedback Form</header>
      </div>
      <form method="post">
        <div class="row">
          <div class="col-25">
            <label for="fname">Name:</label>
          </div>
          <div class="col-75">
            <input class="input" type="text" id="fname" name="name" placeholder="Your name" required>
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="subject">What's your opinion?</label>
          </div>
          <div class="col-75">
            <textarea class="text" id="subject" name="subject" placeholder="Write your feedback.." style="height:200px; " required></textarea>
          </div>
        </div>

        <br>
        
        <div class = "verticalflex">
          <div class = "horizontalflex">
            <!--div delle stelle-->
            <div id = "uno">
            </div>
            <div id = "due">
            </div>
            <div id = "tre">
            </div>
            <div id = "quattro">
            </div>
            <div id = "cinque">
            </div>

          </div>
          
          <p id = "texthere"><br></p>

          <!-- this is necessary to send data to the server -->
          <div class = "reqtosend" id ="support">
            <input type="text" id = "sendmedata" name = "sendmedata">
          </div>
        </div>

        <div class="row submit-row">
          <input class="pulsante4" id="submitbtn" type="submit" value="Submit">
        </div>
      </form>

    </div>

    

    <br>
    <br>

    <p class="h2">What they say about us:</p>

    <div class="swiper swiperReview">
      <div class="swiper-wrapper">
        {% for review in reviews %}
        <div class="swiper-slide">
          <div class = "virgolette">
          </div>
          <div class = "nomeautore">
            {{ review.name }}
          </div>
          <div class = "testorecensione">
            {{ review.text }}
          </div>
          <div class = "stelle">
            <div id="s1"></div>
            <div id="s2"></div>
            <div id="s3"></div>
            <div id="s4"></div>
            <div id="s5"></div>
          </div>

        </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <button id="top" class="pulsante4" onclick="onTop()">⬆</button>

    <script>
      /* perché non sono dentro ad un file? */
      function onTop() {
          window.scrollTo({ top: 0, behavior: 'smooth' }); // Scorri verso l'inizio della pagina con animazione
      }
      
      window.onscroll = function() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
              document.getElementById("top").style.display = "block";
          } else {
              document.getElementById("top").style.display = "none";
          }
      };
    </script>
    <br><br><br><br>

    {% include 'footer.html' %}
    
</body>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script type = "text/javascript" src = "{{url_for('static', filename='functions.js')}}"></script>
<script type = "text/javascript" src = "{{url_for('static', filename='swiperimg.js')}}"></script>

</html>
{% endblock %}