{% extends 'header.html' %}
{% block contenttop %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='like.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css')}}">
    <title>TravelHub - Favorite</title>
</head>
<body class="intero">

    {% endblock %}
    {% block contentdown %}
    {% if not session %}
     <script>
        window.location.replace("/login"); //se non sei loggato e in qualche modo arrivi qua ti reindirizzo al login
      </script>
    {% else %}
        {% if saved_ph==[] %}
            <p class="h">So sad, you didn't save any photo!</p>
            <div class="bored"> 
                {% if e==1 %}
                    <img src="https://i.imgflip.com/8o7lsm.jpg">
                {% elif e==2 %}
                    <img src="https://i.imgflip.com/8o7lyz.jpg">
                {% elif e==3 %}
                    <img src="https://i.imgflip.com/8o7m6t.jpg">
                {% elif e==4 %}
                    <img src="https://i.imgflip.com/8o7mbe.jpg">
                {% endif %}
            </div>


        {% else %}
            <p class="h">Your saved photos...so you won’t forget them!</p>
            <div class = "foru">
                
                {% for tupla in saved_ph %}
                    <div>
                        <img class="f" src="{{ tupla[1] }}" width="600" height="600">
                        <div class="hov">
                            <a href="https://en.wikipedia.org/wiki/{{tupla[0]}}" target="_blank"><p class="h3 name">{{ tupla[0] }}</p></a>
                        </div>
                    </div>
                {% endfor %}
                
            </div>
        {% endif %}




    {% endif %}
    <button id="top2" class="pulsante4" onclick="onTop()">⬆</button>
    <script>
        function onTop() {
            window.scrollTo({ top: 0, behavior: 'smooth' }); // Scorri verso l'inizio della pagina con animazione
        }

        window.onscroll = function() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("top2").style.display = "block";
            } else {
                document.getElementById("top2").style.display = "none";
            }
        };
    </script>
</body>
</html>
{% endblock %}