<footer class="footer">
    {% if not session %}
    <div class = "redirecturi">
      <a class = "redirectanchor" href="/home">Home</a>
      <a class = "redirectanchor" href="/login">Sign In</a>
      <a class = "redirectanchor" href="/register">Sign Up</a>
    </div>
    {% else %}
    <div class = "redirecturi">
      <a class = "redirectanchor" href="/home">Home</a>
      <a class = "redirectanchor" href="/like">Like</a>
      <a class = "redirectanchor" href="/save">Save</a>
    </div>
    {% endif %}

    <div class = "secondflexbox">
      <p style="margin-left: 10px;">Made by <a class = "redirectanchor" href="mailto:travelhub@outlook.it">TravelHub's Team</a></p>

      <div class="icon">
              <a href="https://www.instagram.com/pietrob__/" target="_blank"><img class="ig-icon" src="/static/images/insta.png"></a>
              <a href="https://www.instagram.com/giovanniicanedoli/" target="_blank"><img class="ig-icon" src="/static/images/insta.png"></a>
      </div>
  
      <small>©2024 All rights are reserved.</small>
    </div>
</footer>