{% extends 'header.html' %}
{% block contenttop %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css')}}">
    <title>TravelHub - Sign up</title>

</head>
<body class="intero">
    {% endblock %}
    {% block contentdown %}

    <form method="post">
    <div class="login-box">

        <div class="login-header">
            <h1>Forgot password?</h1>
        </div>
        

        <strong>

        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
         Duis aute irure dolor in reprehenderit in voluptate velit esse
         cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        
        </strong>

        <!-- <div class="input-box">
            <input type="password" name = "password_input1" id = "password_input1" class="input-field" placeholder="Password" autocomplete="new-password" required>
        </div>

        <div class="input-box">
          <input type="password" name = "password_input2" class="input-field" placeholder="Password confirmation" autocomplete="new-password" required>
        </div>
        <div class="input-submit">
            <button class="submit-btn" id="submit"></button>
            <label for="submit">Sign up</label>
        </div>
        <div class="sign-up-link">
            <p>Already have account? <a href="/login">Sign in</a></p>
        </div> -->
        

    </div>
    </form>
</body>
</html>
{% endblock %}
