{% block contenttop%}

{% endblock %}
<header>
<div class="header">
<nav>
<ul>
    <li><a href="/" class="link"><button class="pulsante" type="button">HOME</button></a></li>
    <!--<% if user_signed_in? %>-->
    {% if session %}
        <li><a href="#" class="link"><button class="pulsante" type="button">LOG OUT</button></a></li>
        <li><a href="#" class="link"><button class="pulsante" type="button">LIKE HISTORY</button></a></li>
        <li><a href="/login" class="link"><button class="pulsante" type="button">SIGN IN</button></a></li><!--TEMPORANEO-->


    {% else %}
        <li><a href="/login" class="link"><button class="pulsante" type="button">SIGN IN</button></a></li>
        <li><a href="/register" class="link"><button class="pulsante" type="button">SIGN UP</button></a></li>
        <li><a href="#" class="link"><button class="pulsante" type="button">ABOUT US</button></a></li>
    {% endif %}
     
 

</ul>
</nav>
</div>
</header>

{% block contentdown%}

{% endblock %}