{% extends 'header.html' %}
{% block contenttop %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelHub - Home</title>
    
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


</head>
<body>  
    {% endblock %}
    {% block contentdown %}
    
    {% for city in cities %}
        <div class="images">
            
            <img id = "foto{{ city.id }}" src="{{ city.photo }}" class = "foto"> <!--ASSEGNO UN ID VARIABILE-->
            <div class="cuore">
                <img id = "cuore{{ city.id }}" class = "png" src = "static/images/heart.png" width="300" height="300" >
            </div>
            

            <div class="pulsantiera">
                <!-- NON SO SE C'È UN MODO MIGLIORE PER MANDARE I DATI PER FARE LA RICHIESTA AJAX INTANTO VEDO SE FUNZIONA COSÌ-->
                <button id = "likebtn" class="like pulsante" value = '{{ city.id }}'>❤</button>
                <button class="like pulsante">+</button>
            </div>
            

<!--          
    SITUAZIONE :

    gli id non possono avere lo stesso nome se no quando metto like lo metto sempre alla prima foto
    allo stesso tempo se ho nomi diversi non posso fare correttamente una richiesta ajax con jquery e quindi non posso aggiornare il db quando
    metto like

-->

        </div>
    {% endfor %}
    <script src = "{{ url_for('static', filename='putlike.js') }}"></script>"
</body>

</html>
{% endblock %}