
{% extends 'header.html' %}
{% block contenttop %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelHub - Home</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body>  
    {% endblock %}
    {% block contentdown %}
    
    {% for city in cities %}
        <div class="images">
            <div class = "topcontainer">
                <div class = "container">
                    <img id = "foto{{ city.id }}" src="{{ city.photo }}" class = "foto" data-value = '{{ city.id }}'> <!--ASSEGNO UN ID VARIABILE-->
                    <div class="overlay-text">{{ city.nome }}</div>
                </div>
            

                <div class="pulsantiera">
                    {% if not session %}
                        <a href="/login" class="link"><button id = "likebtn{{ city.id }}" class="like pulsante4" value = '{{ city.id }}'>❤</button></a>
                        <a href="/login" class="link"><button id = "savebtn{{ city.id }}" class="like pulsante4" value = '{{ city.id }}'>+</button></a>
                    {% else %}
                        {% if city.photo in liked %}
                            <button id = "likebtn{{ city.id }}" class="like pulsante" value = '{{ city.id }}' style="background-color: red; font-size: clamp(1.2rem ,2.8vw, 3.5rem);" >❤</button>
                        {% else %}
                            <button id = "likebtn{{ city.id }}" class="like pulsante" value = '{{ city.id }}'>❤</button>
                        {% endif %}
                        {% if city.photo in saved %}
                            <button id = "savebtn{{ city.id }}" class="like pulsante2" value = '{{ city.id }}' style="background-color: black; color: white; font-size: clamp(1.2rem ,2.8vw, 3.5rem);" >+</button>
                        {% else %}
                            <button id = "savebtn{{ city.id }}" class="like pulsante2" value = '{{ city.id }}'>+</button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    <script src = "{{ url_for('static', filename='putlike.js') }}"></script>
    <button id="top" class="pulsante4" onclick="onTop()">⬆</button>

   <br>
   <br>
   <br>
   <br>
   <br>
</body>

<!--<script>
        const pulsanti=document.querySelectorAll('like pulsante3');
        pulsanti.forEach(function(pulsante) {
            pulsante.addEventListener("click", function() {
            pulsante.closest('descrizione').display = "block";
        });
        })
        </script>-->


</html>
{% endblock %}
