{% extends 'header.html' %}
{% block contenttop %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='like.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css')}}">
    <title>TravelHub - Like History</title>
</head>
<body class="intero">

    {% endblock %}
    {% block contentdown %}
    {% if not session %}
     <script>
        window.location.replace("/login"); //se non sei loggato e in qualche modo arrivi qua ti reindirizzo al login
      </script>
    {% else %}
        
        <!-- come si fa a mettere solo una volta i per te? -->
        {% if size == 0 %}
            <!-- QUA SE PUÒ METTE QUALCHE IMMAGINE, TIPO UN EMOJI TRISTE O QUALCHE FAC-SIMILE -->
            <p class="h">Not enough photo liked yet!</p>
            
            <!-- For you -->
            {% if for_u_list != [] %} 
                <p class="h3">For You:</p>
                <div class = "foru">
                    {% for photo in for_u_list %}
                        <img src="{{ photo[1] }}" width="600" height="600">
                    {% endfor %}
                    
                </div>
            {% endif %}

        {% elif  size == 1 %} <!-- SE HO UN SOLO ELEMENTO RENDERIZZO SOLO QUELLO -->
            <div class = "sup">
                <p class="h">The city you liked the most is...<strong>{{ city_photo_list[0][0] }}!</strong></p>
                <img id = "top" src = "{{ city_photo_list[0][1] }}" width="600" height="600">
                <p class = "h2">put more like to see a podium of photos here!</p>
            </div>

            <!--for u-->
            {% if for_u_list != [] %} 
                <p class="h3">For You:</p>
                <div class = "foru">
                    {% for photo in for_u_list %}
                        <img src="{{ photo[1] }}" width="600" height="600">
                    {% endfor %}
                    
                </div>
            {% endif %}

        {% elif size == 2 %}    <!-- SE HO DUE ELEMENTI RENDERIZZO SOLO QUELLI, DEVO FARE QUESTE CLASSI! -->
            <div class = "container">
                
                <div class = "first">
                    <p class="h2">The city you liked the most is...<strong>{{ city_photo_list[0][0] }}!</strong></p>
                    <img id = "top" src = "{{ city_photo_list[0][1] }}" width="600" height="600">
                    <p class="h2">second image in podium is...<strong>{{ city_photo_list[1][0] }}!</strong></p>
                </div>

                <!-- QUESTA QUI PIÙ PICCOLA?? -->
                <div class = "second">
                    <img id = "top" src = "{{ city_photo_list[1][1] }}" width="600" height="600">
                    <p class = "h2">put more like to complete the podium!</p>
                </div>
            </div>

            <!--For You-->
            {% if for_u_list != [] %} 
                <p class="h3">For You:</p>
                <div class = "foru">
                    {% for photo in for_u_list %}
                        <img src="{{ photo[1] }}" width="600" height="600">
                    {% endfor %}
                </div>
            {% endif %}

        {% else %}
            <div class = "sup">
                    <p class="h">The city you liked the most is...<strong>{{ city_photo_list[0][0] }}!</strong></p>
                    <img id = "top" src = "{{ city_photo_list[0][1] }}" width="600" height="600">
                    <p class="h2">Damn! You really appreciated also these others cities!</p>
            </div>

            <div class = "scorrimento">
                <p class="h"><strong>{{ city_photo_list[1][0] }}!</strong></p>
                <img class="minor" src = "{{ city_photo_list[1][1] }}" width="600" height="600">
                <p class="h"><strong>{{ city_photo_list[2][0] }}!</strong></p>
                <img class="minor" src = "{{ city_photo_list[2][1] }}" width="600" height="600">
            </div>

            <!-- For You -->
            {% if for_u_list != [] %} 
                <p class="h3">For You:</p>
                <div class = "foru">
                    {% for photo in for_u_list %}
                        <img src="{{ photo[1] }}" width="600" height="600">
                    {% endfor %}
                    
                </div>
            {% endif %}



        {% endif %}
    {% endif %}
    <button id="top2" class="pulsante4" onclick="onTop()">⬆</button>
    <script>
        function onTop() {
            window.scrollTo({ top: 0, behavior: 'smooth' }); // Scorri verso l'inizio della pagina con animazione
        }

        window.onscroll = function() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("top2").style.display = "block";
            } else {
                document.getElementById("top2").style.display = "none";
            }
        };
    </script>
</body>
</html>
{% endblock %}