{% extends 'header.html' %}
{% block contenttop %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='like.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='slider.css')}}">

    <title>TravelHub - Like History</title>
</head>
<body class="intero">

    {% endblock %}
    {% block contentdown %}
    {% if not session %}
     <script>
        window.location.replace("/login"); //se non sei loggato e in qualche modo arrivi qua ti reindirizzo al login
      </script>
    {% else %}
        
        <!-- come si fa a mettere solo una volta i per te? -->
        {% if size == 0 %}

            <!-- QUA CE SE PUÒ METTE UN LOGO!! -->            
            
            <p class="h">Lame...not enough photo liked yet!</p>
                
                <!-- FOR YOU SECTION -->

            <p class="h3">For You</p>
            {% if for_u_list != [] %} 

                <div class="swiper swiperImg">
                    <div class="swiper-wrapper">
                        {% for photo in for_u_list %}
                            <!--nuova classe foru2 presennte in slider.css-->
                            <div class="foru2 swiper-slide">    
                                    <img src="{{ photo[1] }}">
                                    <div class="overlay-text-stuff">

                                        <!-- DA CAPÌ CHE FINE FAGLIE FA -->
                                        <!-- <button id = "forulikebtn{{ photo[2] }}" class = "like pulsante4"  value = '{{ photo[2] }}'>❤</button>
                                        <button id = "forulikebtn{{ photo[2] }}" class = "like pulsante4" value = '{{ photo[2] }}'>+</button> -->
                                            {{ photo[0] }}
                                    </div>
                            </div>
                        {% endfor %}

                        
                    </div>
                </div>
        {% endif %}

        
        <!-- <form action = "#" method = "POST">
            <div class = "form-secondario">
                <header>Find your next flight!</header>
                <div class = "form_cities_stuff">
                    <label for="departure_city">Departure city</label><br>
                    <input type="text" id="departure_city" name="departure_city" required><br><br>
                </div>

                <div class = "form_cities_stuff">
                    <label for="arrival_city">Arrival city</label><br>
                    <input type="text" id="arrival_city" name="arrival_city" required><br><br>
                </div>

                <div class = "form_cities_stuff">
                    <label for="date_of_leaving">Date of leaving (YYYY-MM-DD)</label><br>
                     pattern="\d{4}-\d{2}-\d{2}" 
                    <input type="text" id="date_of_leaving" name="date_of_leaving" required ><br><br>
                </div>

                <div class="input-submit">
                    <input type="submit" value="Invia">
                  <label for="submit" >Sign in</label>
                </div>

                {% if api_data %}
                    <textarea area rows="10" cols="50">
                        {{ debugstuff[0] }}
                    </textarea>
                {% endif %}


            </div>
        </form> -->



        <br><br><br><br><br><br>

        {% elif  size == 1 %} <!-- SE HO UN SOLO ELEMENTO RENDERIZZO SOLO QUELLO -->
            <div class = "sup">
                <p class="h">The city you liked the most is...{{ city_photo_list[0][0] }}!</p>
                <a class="ticket" href="https://www.skyscanner.it/trasporti/voli/rome/{{city_photo_list[0][2]}}/?adultsv2=1&cabinclass=economy&childrenv2=&ref=home&rtn=0&preferdirects=false&outboundaltsenabled=false&inboundaltsenabled=false&oym=2406&selectedoday=01" target="_blank"><button class="pulsante" type="button">Book your ticket✈</button></a>
                
                <div class = "swiper swiperCubic">
                    <div class="swiper-wrapper">
                        <div class = "cubic swiper-slide">
                            <img id = "top" src = "{{ city_photo_list[0][1] }}" width="600" height="600">
                        </div>
                        <div class = "cubic swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                        </div>
                    </div>
                </div>

                <p class = "h2">put more likes to see a podium of photos here!</p>
            </div>

                <!-- FOR YOU SECTION -->

                <p class="h3">For You</p>
                {% if for_u_list != [] %} 
    
                    <div class="swiper swiperImg">
                        <div class="swiper-wrapper">
                            {% for photo in for_u_list %}
                                <!--nuova classe foru2 presennte in slider.css-->
                                <div class="foru2 swiper-slide">    
                                        <img src="{{ photo[1] }}">
                                        <div class="overlay-text-stuff">
    
                                            <!-- DA CAPÌ CHE FINE FAGLIE FA -->
                                            <!-- <button id = "forulikebtn{{ photo[2] }}" class = "like pulsante4"  value = '{{ photo[2] }}'>❤</button>
                                            <button id = "forulikebtn{{ photo[2] }}" class = "like pulsante4" value = '{{ photo[2] }}'>+</button> -->
                                                {{ photo[0] }}
                                        </div>
                                </div>
                            {% endfor %}
    
                            
                        </div>
                    </div>
                {% endif %}

        {% elif size == 2 %}    <!-- SE HO DUE ELEMENTI RENDERIZZO SOLO QUELLI, DEVO FARE QUESTE CLASSI! -->
            <div class = "container">
                
                <div class = "first">
                    <p class="h2">The city you liked the most is...{{ city_photo_list[0][0] }}!</p>
                    <!--DA PROBLEMI IL CSS <a class="ticket" href="https://www.skyscanner.it/trasporti/voli/rome/{{city_photo_list[0][2]}}/?adultsv2=1&cabinclass=economy&childrenv2=&ref=home&rtn=0&preferdirects=false&outboundaltsenabled=false&inboundaltsenabled=false&oym=2406&selectedoday=01" target="_blank"><button class="pulsante" type="button">Book your ticket✈</button></a> -->
                    <img id = "top" src = "{{ city_photo_list[0][1] }}" width="600" height="600">
                    <p class="h2">second image in podium is...{{ city_photo_list[1][0] }}!</p>
                </div>

                <!-- QUESTA QUI PIÙ PICCOLA?? -->
                <div class = "second">
                    <img id = "top" src = "{{ city_photo_list[1][1] }}" width="600" height="600">
                    <p class = "h2">put more like to complete the podium!</p>
                </div>
            </div>

            

                <!-- FOR YOU SECTION -->

                <p class="h3">For You</p>
                {% if for_u_list != [] %} 
    
                    <div class="swiper swiperImg">
                        <div class="swiper-wrapper">
                            {% for photo in for_u_list %}
                                <!--nuova classe foru2 presennte in slider.css-->
                                <div class="foru2 swiper-slide">    
                                        <img src="{{ photo[1] }}">
                                        <div class="overlay-text-stuff">
    
                                            <!-- DA CAPÌ CHE FINE FAGLIE FA -->
                                            <!-- <button id = "forulikebtn{{ photo[2] }}" class = "like pulsante4"  value = '{{ photo[2] }}'>❤</button>
                                            <button id = "forulikebtn{{ photo[2] }}" class = "like pulsante4" value = '{{ photo[2] }}'>+</button> -->
                                                {{ photo[0] }}
                                        </div>
                                </div>
                            {% endfor %}
    
                            
                        </div>
                    </div>
                {% endif %}



        {% else %}
            <div class = "sup">
                    <p class="h">The city you liked the most is...{{ city_photo_list[0][0] }}!</p>
                    <a class="ticket" href="https://www.skyscanner.it/trasporti/voli/rome/{{city_photo_list[0][2]}}/?adultsv2=1&cabinclass=economy&childrenv2=&ref=home&rtn=0&preferdirects=false&outboundaltsenabled=false&inboundaltsenabled=false&oym=2406&selectedoday=01" target="_blank"><button class="pulsante" type="button">Book your ticket✈</button></a>
                    <img id = "top" src = "{{ city_photo_list[0][1] }}" width="600" height="600">
                    <p class="h2">Damn! You really appreciated also {{ city_photo_list[1][0] }} and {{ city_photo_list[2][0] }}!</p>
            </div>

            <div class = "scorrimento">
            <!--    <p class="h"><strong>{{ city_photo_list[1][0] }}!</strong></p>-->
                <img class="minor" src = "{{ city_photo_list[1][1] }}" width="600" height="600">
              <!--  <p class="h"><strong>{{ city_photo_list[2][0] }}!</strong></p>-->
                <img class="minor" src = "{{ city_photo_list[2][1] }}" width="600" height="600">
            </div>


            <!-- FOR YOU SECTION -->

            <p class="h3">For You</p>
            {% if for_u_list != [] %} 

                <div class="swiper swiperImg">
                    <div class="swiper-wrapper">
                        {% for photo in for_u_list %}
                            <!--nuova classe foru2 presennte in slider.css-->
                            <div class="foru2 swiper-slide">    
                                    <img src="{{ photo[1] }}">
                                    <div class="overlay-text-stuff">

                                        <!-- DA CAPÌ CHE FINE FAGLIE FA -->
                                        <!-- <button id = "forulikebtn{{ photo[2] }}" class = "like pulsante4"  value = '{{ photo[2] }}'>❤</button>
                                        <button id = "forulikebtn{{ photo[2] }}" class = "like pulsante4" value = '{{ photo[2] }}'>+</button> -->
                                            {{ photo[0] }}
                                    </div>
                            </div>
                        {% endfor %}

                        
                    </div>
                </div>
            {% endif %}

            


        {% endif %}
    {% endif %}
    <button id="top2" class="pulsante4" onclick="onTop()">⬆</button>
    <script>
        function onTop() {
            window.scrollTo({ top: 0, behavior: 'smooth' }); // Scorri verso l'inizio della pagina con animazione
        }

        window.onscroll = function() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("top2").style.display = "block";
            } else {
                document.getElementById("top2").style.display = "none";
            }
        };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type = "text/javascript" src = "{{url_for('static', filename='swiperimg.js')}}"></script>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
          const immagini = document.querySelectorAll('.foru2 img');
          immagini.forEach((img) => {
            if (img.clientHeight > 600) {
              img.classList.add('tall');
            }
          });
        });
    </script>

</body>
</html>
{% endblock %}