{% extends 'header.html' %}
{% block contenttop %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='like.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='slider.css')}}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

    <title>TravelHub - Like History</title>
</head>
<body class="intero">
    
    <video autoplay muted loop id="background-video">
        <source src="/static/images/0601.mp4" type="video/mp4">
    </video>

    {% endblock %}
    {% block contentdown %}
    {% if not session %}
     <script>
        window.location.replace("/login"); //se non sei loggato e in qualche modo arrivi qua ti reindirizzo al login
      </script>
    {% else %}
        
        {% if size == 0 %}

            
            <p class="h">You don't have any liked photo yet😪!</p>

        <br><br><br><br><br><br>

        {% elif  size == 1 %}
            <div class = "sup">
                <p class="h">The city you liked the most is...</p>
                
                <div class = "swiper swiperCubic">
                    <p class="h"><strong>{{ city_photo_list[0][0] }}!</strong></p>

                    <div class="swiper-wrapper">
                        <div class = "cubic swiper-slide">
                            <img id = "top" src = "{{ city_photo_list[0][1] }}">
                        </div>
                         <div class = "cubic swiper-slide">
                            <div class = "blurcube">
                                <img id = "top" src = "{{ city_photo_list[0][1] }}">
                                <div class = "textcontainer"> 
                                    <p>{{ city_photo_list[0][3] }}</p>
                                    <a class="ticket" href="https://www.skyscanner.it/trasporti/voli/rome/{{city_photo_list[0][2]}}/?adultsv2=1&cabinclass=economy&childrenv2=&ref=home&rtn=0&preferdirects=false&outboundaltsenabled=false&inboundaltsenabled=false&oym=2406&selectedoday=01" target="_blank"><button class="pulsante" type="button">Book your ticket✈</button></a>
                                </div>
                            </div>
                        </div> 
                        <div id = "map" class = "mapcontainer swiper-slide" name = "{{ city_photo_list[0][0] }}">
                            <!-- I DON'T HAVE TO FILL THIS-->
                        </div>
                    </div>
                </div>

                <p class = "h2">Put more likes to see a podium of photos here!</p>
            </div>

                <!-- FOR YOU SECTION -->

                

        {% elif size == 2 %}    
        
            
            <div class = "container">
                    <p class="h">The city you liked the most is...</p>
                    
                    <div class = "swiper swiperCubic">
                        <p class="h"><strong>{{ city_photo_list[0][0] }}!</strong></p>
                        <div class="swiper-wrapper">
                            <div class = "cubic swiper-slide">
                                <img id = "top" src = "{{ city_photo_list[0][1] }}">
                            </div>
                            <div class = "cubic swiper-slide">
                                <div class = "blurcube">
                                    <img id = "top" src = "{{ city_photo_list[0][1] }}">
                                    <div class = "textcontainer"> 
                                        <p>{{ city_photo_list[0][3] }} </p>
                                        <a class="ticket" href="https://www.skyscanner.it/trasporti/voli/rome/{{city_photo_list[0][2]}}/?adultsv2=1&cabinclass=economy&childrenv2=&ref=home&rtn=0&preferdirects=false&outboundaltsenabled=false&inboundaltsenabled=false&oym=2406&selectedoday=01" target="_blank"><button class="pulsante" type="button">Book your ticket✈</button></a>

                                    </div>
                                </div>
                            </div>
                            <div id = "map" class = "mapcontainer swiper-slide" name = "{{ city_photo_list[0][0] }}">
                            </div>
                        </div>
                    </div>

                
                
                    <p class="h2">second image in podium is...</p>
                    <div class = "swiper swiperCubic">
                        <p class="h"><strong>{{ city_photo_list[1][0] }}!</strong></p>
                        <div class="swiper-wrapper">
                            <div class = "cubic swiper-slide">
                                <img id = "top" src = "{{ city_photo_list[1][1] }}">
                            </div>
                            
                            <div id = "map2" class = "mapcontainer swiper-slide" name = "{{ city_photo_list[1][0] }}">
                              
                            </div>
                        </div>
                    </div> 

                    <p class = "h2">put more like to complete the podium!</p>
                
            </div>

        {% else %}

            <div class = "sup">
                    <p class="h">The city you liked the most is...</p>

                    <div class = "swiper swiperCubic">
                        <p class="h"><strong>{{ city_photo_list[0][0] }}!</strong></p>

                        <div class="swiper-wrapper">
                            <div class = "cubic swiper-slide">
                                <img id = "top" src = "{{ city_photo_list[0][1] }}">
                            </div>
                            <div class = "cubic swiper-slide">
                                <div class = "blurcube">
                                    <img id = "top" src = "{{ city_photo_list[0][1] }}">
                                    <div class = "textcontainer"> 
                                        <p>{{ city_photo_list[0][3] }} </p>
                                        <a class="ticket" href="https://www.skyscanner.it/trasporti/voli/rome/{{city_photo_list[0][2]}}/?adultsv2=1&cabinclass=economy&childrenv2=&ref=home&rtn=0&preferdirects=false&outboundaltsenabled=false&inboundaltsenabled=false&oym=2406&selectedoday=01" target="_blank"><button class="pulsante" type="button">Book your ticket✈</button></a>
                                    </div>
                                </div>
                            </div>
                            <div id = "map" class = "mapcontainer swiper-slide" name = "{{ city_photo_list[0][0] }}">
                            </div>
                        </div>
                    </div>

                    <p class="h2">You really appreciated also... </p>
            </div>

            <div class = "scorrimento">
                <div class = "swiper swiperCubic2">
                    <p class="h"><strong>{{ city_photo_list[1][0] }}</strong></p>
                    <div class="swiper-wrapper">
                        <div class = "cubic swiper-slide">
                            <img class="minor" src = "{{ city_photo_list[1][1] }}" >

                        </div>

                        
                        
                        <div id = "map2" class = "mapcontainer swiper-slide" name = "{{ city_photo_list[1][0] }}">
                        </div>
                    </div>
                </div>

                <div class = "swiper swiperCubic2">
                    <p class="h"><strong>{{ city_photo_list[2][0] }}</strong></p>
                    <div class="swiper-wrapper">
                        <div class = "cubic swiper-slide">
                            <img class="minor" src = "{{ city_photo_list[2][1] }}" >
                        </div>
                        <div id = "map3" class = "mapcontainer swiper-slide" name = "{{ city_photo_list[2][0] }}">
                        </div>
                    </div>
                </div>
            </div>


        {% endif %}

        <p class="h3">Just For You:</p>
        {% if for_u_list != [] %} 

            <div class="swiper swiperImg">
                <div class="swiper-wrapper">
                    {% for photo in for_u_list %}
                        <!--nuova classe foru2 presennte in slider.css-->
                        <div class="foru2 swiper-slide">    
                                <img src="{{ photo[1] }}" style="max-height: 400px;">
                                <div class="overlay-text-stuff">
                                    {{ photo[0] }}
                                </div>
                        </div>
                    {% endfor %}

                    
                </div>
            </div>
        {% endif %}
    {% endif %}
    <br><br><br>
    <button id="top2" class="pulsante4" onclick="onTop()">⬆</button>

    <script>
    function onTop() {
        window.scrollTo({ top: 0, behavior: 'smooth' }); 
    }
    
    window.onscroll = function() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("top2").style.display = "block";
        } else {
            document.getElementById("top2").style.display = "none";
        }
    };
    
    </script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type = "text/javascript" src = "{{url_for('static', filename='swiperimg.js')}}"></script>
    <script type = "text/javascript" src = "{{url_for('static', filename='aquirecity.js')}}"></script>
</body>
</html>
{% endblock %}