
{% extends 'header.html' %}
{% block contenttop %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css')}}">
    <title>TravelHub - Sign up</title>

</head>
<body class="intero">
    {% endblock %}
    {% block contentdown %}
    <div class="background"></div>
    <div id="plane"></div>
    <form method="post">
    <div class="login-box">
        <div class="login-header">
            <header>Sign up</header>
        </div>
        <div class="input-box">
            <input type="email" name = "username_input" class="input-field" placeholder="Email" autocomplete="email"  title = "Enter your email." onclick="myFunction()" required>
        </div>
        <div class="input-box">
            <input type="password" name = "password_input1" id = "password_input1" class="input-field" placeholder="Password" autocomplete="new-password" title = "Minimum 8 characters, 1 upper character 1 special character and one number" required>
        </div>

        <div class="input-box">
            <input type="password" name = "password_input2" id = "password_input2" class="input-field" placeholder="Password confirmation" autocomplete="new-password" title = "Repeat your password" required>
        </div>
        <div class="input-submit">
            <button class="submit-btn" id="submit">Sign up</button>
  
        </div>
        

        
        {% if user_alive == True %}
        <br>
        <br>
            <div class = "failure">
                <p>User already present in database! <a href="/login">Sign in</a></p>
            </div>

        {% elif password_verify != password %}
            <br>
            <br>
            <div class = "failure">
                <p>Passwords are different!</p>
            </div>
            <br>
        

        {% elif password_ok == False %}
            <br>
            <br>
            <div class = "failure">
                <p>Password is too simple!</p>
            </div>
            <br>
        {% else %}
            <div class="sign-up-link">
                <p>Already have an account? <a href="/login">Sign in</a></p>
                <br>
            </div>
        {% endif %}
        

    </div>
    </form>
<script type = "text/javascript" src = "{{url_for('static', filename='plane.js')}}"></script>
</body>
</html>
{% endblock %}
